128.164.43.237/32 # gbl16046 Data Processing Hadoop edge node
128.164.43.238/32 # gbl16048 Data Processing Hadoop edge node
128.10.112.143/32 # gbl11755 Data Processing Hadoop edge node
128.13.18.221/32 # gbl16047 Data Processing Hadoop edge node
# 128.10.45.48 # HDP18 Production data processing Hadoop edge node. This should be allowed to use proxy